<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.platform.usercenter.mapper.SysUserInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yh.platform.usercenter.model.SysUserInfo">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="SEX" property="sex" />
        <result column="BIRTHDATE" property="birthdate" />
        <result column="MOBILE_PHONE" property="mobilePhone" />
        <result column="AVATAR" property="avatar" />
        <result column="MODIFIY_USER" property="modifiyUser" />
        <result column="MODIFY_TIME" property="modifyTime" />
    </resultMap>

</mapper>
