<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.platform.usercenter.dao.SysPlatformUserMapper">
  <resultMap id="BaseResultMap" type="com.yh.platform.usercenter.model.SysPlatformUser">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="PLATFORM_TYPE" jdbcType="VARCHAR" property="platformType" />
    <result column="BIND_CODE" jdbcType="VARCHAR" property="bindCode" />
    <result column="BIND_TIME" jdbcType="TIMESTAMP" property="bindTime" />
    <result column="BIND_OTHER_DATA" jdbcType="VARCHAR" property="bindOtherData" />
  </resultMap>

</mapper>